*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* header - navbar */
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 120px;
    padding: 15px;
}

.list-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin-right: 100px;
}

ul li{
    color: #e5e7eb;
    font-family: roboto;
    font-size: 24px;
}
/* header - navbar */

